PanKnob BMP ..\..\..\..\Resources\LA2094PanKnob.bmp
RatioKnob BMP ..\..\..\..\Resources\LA2094RatioKnob.bmp
AttackKnob BMP ..\..\..\..\Resources\LA2094AttackKnob.bmp
ReleaseKnob BMP ..\..\..\..\Resources\LA2094ReleaseKnob.bmp
