PanKnob PNG ..\..\..\..\Resources\LA4029PanKnob.png
RatioKnob PNG ..\..\..\..\Resources\LA4029RatioKnob.png
AttackKnob PNG ..\..\..\..\Resources\LA4029AttackKnob.png
ReleaseKnob PNG ..\..\..\..\Resources\LA4029ReleaseKnob.png
VUMeter PNG ..\..\..\..\Resources\LA4029VUMeter.png
