PanKnob BMP ..\..\..\..\Resources\LA4029PanKnob.bmp
RatioKnob BMP ..\..\..\..\Resources\LA4029RatioKnob.bmp
AttackKnob BMP ..\..\..\..\Resources\LA4029AttackKnob.bmp
ReleaseKnob BMP ..\..\..\..\Resources\LA4029ReleaseKnob.bmp
VUMeter BMP ..\..\..\..\Resources\LA4029VUMeter.bmp
