PanKnob PNG ..\..\..\..\Resources\LA4029IO.png
RatioKnob PNG ..\..\..\..\Resources\LA4029Ratio.png
AttackKnob PNG ..\..\..\..\Resources\LA4029Attack.png
ReleaseKnob PNG ..\..\..\..\Resources\LA4029Release.png
VUMeter PNG ..\..\..\..\Resources\LA4029VUMeter.png
